.sapatos{
width: 1280px;

&_rotaAtual{
     position: relative;
     left: 65px;

    &--nome{
  font-size: 12px;
    }

    &--separador{
        font-size: 12px;
        padding: 0 5px;

        
    }
}


&_Slider{
    


    &--video {

        
        position: relative;
        top: 32px;
        margin: 0px;
        height: 72px;
        width: 151px;
        background: red;

        &-box{
            width: 100px;
            height: 100px;
            position: relative;
            left: 45px;
        }

        &-img{
            outline: none;
            background: black;
            color: white;
            width: 82px;
            height: 45px;
            
        }

    }

    &--VerticalDots {
      


        transform: rotate(90deg);
        width: 406px;
        position: relative;
        top: 156px;
        right: 185px;
        height: 261px;


    
        &-box{
            outline: none;
            color: white;
            width: 82px;
            height: 94.3px;
            transform: rotate(270deg);

         
        }

        &-img{
            width: 200px;
            height: 94px;
            position: relative;
            left: -55px;

        }
    }


    &--MainBox {
        position: relative;
        bottom: 305px;
        left: 200px;
        width: 500px;
        height: 556px;
        width: 430px;


        &-box{
         
        }

        &-img{
          

     background: yellow;
    height: 556px;
    width: 430px;
        }
    }

    &--BoxDetalhes {

        position: relative;
        left: 700px;
        width: 500px;
        bottom: 857px;



        &-box{

        }

        &-img{
            background: green;
            width: 444px;
            height: 533px;
        }
    }


   
}

}






